@import "tailwindcss";

.input {
  @apply text-gray-700 bg-[#F3F3F5] rounded-md px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.button {
  @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

/* 🔹 Hide scrollbar but keep scroll functionality */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  /* scrollbar-width: none; Firefox */
  overflow-y: scroll; /* keeps scroll functionality */
}

