@import "tailwindcss";

.input {
  @apply text-gray-700 bg-[#F3F3F5] rounded-md px-4 py-2 w-full focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.button {
  @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500;
}
/* Scrollbar Track */
::-webkit-scrollbar {
  height: 8px; /* thickness of horizontal bar */
}

/* Scrollbar Background */
::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 */
}

/* Scrollbar Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #2563eb; /* blue-600 */
  border-radius: 6px;
}

/* Thumb hover color */
::-webkit-scrollbar-thumb:hover {
  background: #1e40af; /* blue-800 */
}
